<h1>Products</h1>
<div class="card">
    <div class="card-head">lorem ipsum Products</div>
    <div class="card-body">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique,
      explicabo nostrum! Sed illo eveniet quae, odit repellat reiciendis ratione
      ullam? Quod minus tempore praesentium quisquam obcaecati nihil neque
      voluptas tenetur?
    </div>

    <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique,
        explicabo nostrum! Sed illo eveniet quae, odit repellat reiciendis ratione
        ullam? Quod minus tempore praesentium quisquam obcaecati nihil neque
        voluptas tenetur?
      </div>
  </div>